.PersonListItem {
  display: flex;
}

.Right {
  padding-left: 14px;
}
.Right h2 {
  margin-top: 0px;
}

.Thumbnail {
  width: 80px;
  height: 80px;
  border: 1px solid lightgray;
  background-color: #efefef;
}

img {
  max-width: 100%;
}
