.TypeAhead {
    width: 100%;
}


.TypeAhead .TopControls {
    display: flex;
    border: 1px sold red;
}

.TypeAhead input{
    flex: 1;
    padding: 0px 20px;
    font-size: 22px;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.TypeAhead button {
    flex: 0 0 90px;
    height: 44px;
}

.TypeAhead .Bottom {
    position: relative;
    opacity: unset;
    /* transition: 1s opacity; */
    transition: 250ms opacity;
    opacity: unset;
}

.TypeAhead .Bottom.Hidden {
    opacity: 0;

}

.SuggestionList{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid gray;
    /* box-shadow: 0px 0px 10px #999; */
    overflow: hidden;
}

.SuggestionListItem{
    font-family: Monaco, 'Courier New', Courier, monospace;
    padding: 6px;
    border-top: 1px solid #999;
    color: #222;
}

.SuggestionListItem:active,
.SuggestionListItem:hover{
    /* background-color:#efefef; */
    background-color: #222;
    color: white;
}